---

---

<html lang="ru">
  <head>
    <title>bioboo.st</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <style>
      @import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

      .container {
        @apply max-w-6xl mx-auto;
      }
    </style>
    <!-- Alpine Plugins -->
    <script
      defer
      src="https://cdn.jsdelivr.net/npm/@alpinejs/collapse@3.x.x/dist/cdn.min.js"
    ></script>

    <!-- Alpine Core -->
    <script
      defer
      src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"
    ></script>

    <script>
      const sleep = (ms: number) => new Promise((res) => setTimeout(res, ms));

      document.onmousemove = async (event) => {
        const cursorX = -event.pageX,
          cursorY = -event.pageY;

        const elements = document.querySelectorAll(".clorella1");
        for (const el of elements) {
          await sleep(15);

          // @ts-ignore
          el.style.transform = `translate(${cursorX / 30}px, ${cursorY / 30}px)`;
        }
      };
    </script>
  </head>
  <body>
    <!-- hero -->
    <div class="container grid lg:grid-cols-2 gap-5 px-7 py-16">
      <div class="grid grid-cols-2 gap-9 items-end">
        <div class="text-5xl font-semibold col-span-2 lg:col-span-1">
          Биобуст<br />
          из живой<br />
          <span class="text-primary-500">хлореллы</span>
        </div>

        <div class="text-xl col-span-2 lg:col-span-1">
          Одноклеточная микроводоросль.<br />
          <span class="text-primary-500">На кремнии.</span>
        </div>

        <div class="text-2xl col-span-2">
          Натуральное укрепление организма: с внутренних органов до кончиков
          волос
        </div>

        <div class="text-3xl font-semibold">№1<br />в России</div>
        <div>
          <img
            src="https://sec-pay.ru/wp-content/uploads/2024/10/noroot.webp"
            alt="Re.Awards"
            width={172}
          />
        </div>

        <div>
          <img
            src="https://sec-pay.ru/wp-content/uploads/2024/10/24.webp"
            alt="Healthy food"
            width={172}
          />
        </div>

        <div class="text-xl">
          Концентрация<br />
          <span>{">"}100 млн</span><br />
          живых клеток<br />
          на 1 мл
        </div>

        <div class="col-span-2 text-2xl font-semibold">
          Прилив сил и здоровья, без таблеток, уже в первые 7 дней
        </div>
      </div>

      <div class="relative">
        <img
          src="https://sec-pay.ru/wp-content/uploads/2024/10/Group-1-1.png"
          alt="Bioboost"
        />
        <div class="absolute bottom-[53%] right-[-13%] clorella1">
          <img
            src="https://sec-pay.ru/wp-content/uploads/2024/10/clorella1-1.png"
            alt="clorella"
            width={128}
            height={128}
          />
        </div>
        <div class="absolute bottom-[53%] right-[10%] clorella1">
          <img
            src="https://sec-pay.ru/wp-content/uploads/2024/10/clorella1-1.png"
            alt="clorella"
            width={72}
            height={72}
          />
        </div>
        <div class="absolute bottom-[45%] right-[-13%] clorella1">
          <img
            src="https://sec-pay.ru/wp-content/uploads/2024/10/clorella1-1.png"
            alt="clorella"
            width={72}
            height={72}
          />
        </div>
        <div class="absolute bottom-[20%] right-[-10%] clorella1">
          <img
            src="https://sec-pay.ru/wp-content/uploads/2024/10/clorella1-1.png"
            alt="clorella"
            width={192}
            height={192}
          />
        </div>
        <div class="absolute bottom-[5%] right-[0%] clorella1 -z-10">
          <img
            src="https://sec-pay.ru/wp-content/uploads/2024/10/clorella1-1.png"
            alt="clorella"
            width={192}
            height={192}
          />
        </div>
        <div class="absolute bottom-[0%] right-[30%] clorella1">
          <img
            src="https://sec-pay.ru/wp-content/uploads/2024/10/clorella1-1.png"
            alt="clorella"
            width={80}
            height={80}
          />
        </div>
        <div class="absolute bottom-[15%] right-[50%] clorella1">
          <img
            src="https://sec-pay.ru/wp-content/uploads/2024/10/clorella1-1.png"
            alt="clorella"
            width={96}
            height={96}
          />
        </div>
      </div>
    </div>

    <!-- 2 cards -->
    <div class="bg-neutral-200">
      <div class="p-9 space-y-9">
        <div class="text-center text-5xl font-semibold">
          Польза хлореллы в БиоБуст:
        </div>

        <div
          class="container p-9 items-center bg-white rounded-xl shadow-xl lg:flex gap-7 space-y-7"
        >
          <div class="grow lg:grid gap-7 grid-cols-2">
            <div class="space-y-3 p-5">
              <div class="text-3xl font-semibold">Коррекция веса</div>
              <div class="text-lg">
                + помогает бережно сменить вредные пищевые привычки.
              </div>
            </div>
            <div class="space-y-3 p-5">
              <div class="text-3xl font-semibold">Красота</div>
              <div class="text-lg">
                Улучшает состояние кожи, волос и ногтей, уменьшает неприятные
                запахи.
              </div>
            </div>
            <div class="space-y-3 bg-primary-500 rounded-xl p-5 text-white">
              <div class="flex items-center justify-between">
                <div class="text-3xl font-semibold">Энергия</div>
                <img
                  src="https://sec-pay.ru/wp-content/uploads/2024/11/image_178_min.png"
                  alt="strong"
                />
              </div>
              <div class="text-lg">
                Помогает справиться с усталостью. Придает бодрость, улучшает
                настроение, налаживает сон.
              </div>
            </div>
            <div class="space-y-3 p-5">
              <div class="text-3xl font-semibold">Antiage</div>
              <div class="text-lg">
                Замедляет старение, снимает отеки, разглаживает морщины и
                целлюлит, стабилизирует давление.
              </div>
            </div>

            <div class="p-5 text-xs col-span-2">
              + помогает бережно сменить вредные пищевые привычки. Обладает
              антиоксидантными свойствами. CGF (фактор роста хлореллы) отвечает
              за способность омолаживать организм, восстанавливая поврежденные
              части ДНК и стимулируя рост новых тканей и клеток. Высокое
              содержание нуклеиновых кислот значительно замедляет процессы
              старения. Помогает нормализовать гормональный фон.
            </div>
          </div>
          <img
            src="https://sec-pay.ru/wp-content/uploads/2024/10/Mask_group.webp"
            alt="mask"
          />
        </div>

        <div
          class="container p-9 items-center bg-white rounded-xl shadow-xl lg:flex gap-7 space-y-7"
        >
          <img
            src="https://sec-pay.ru/wp-content/uploads/2024/11/Mask_group_4.webp"
            alt="smoothie"
          />

          <div class="grow lg:grid grid-cols-2 gap-7 space-y-7">
            <div class="font-semibold text-4xl">Забота об органах</div>
            <img
              src="https://sec-pay.ru/wp-content/uploads/2024/11/Remove-bgai_17244308-e1731250786285.webp"
              alt="Bacteria1"
              width={96}
              class="mx-auto"
            />
            <div
              class="p-5 bg-primary-500 rounded-xl text-white flex flex-col justify-between"
            >
              <img
                src="https://sec-pay.ru/wp-content/uploads/2024/11/image_168_min.webp"
                alt="stomach"
                width={48}
              />
              <div class="text-lg">
                Укрепляет сердечно-сосудистую систему, нормализует работу ЖКТ,
                стабилизирует стул.
              </div>
            </div>
            <div class="p-5 space-y-5">
              <div class="font-semibold text-4xl">Детокс</div>
              <div class="text-lg">
                Выведение тяжелых металлов и подавление гнилостных бактерий..
                Очищение крови. Понижение сахара и холестерина.
              </div>
            </div>
            <div class="col-span-2 text-xs">
              Пребиотическое волокно, которым богата водоросль, питает
              микрофлору кишечника. Аминокислоты, пептиды и нуклеиновые кислоты
              активно восстанавливают ткани и слизистую оболочку. Снижение веса,
              стабилизация липидного профиля и ускорение углеводного обмена
              подтверждены исследованиями иранских ученых. Выведение тяжелых
              металлов, канцерогенов и антиоксидантную активность подтвердили
              швейцарские, корейские и испанские исследования.
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- book -->
    <div class="container p-7 py-16 grid lg:grid-cols-2 gap-48 relative">
      <div class="space-y-9">
        <div class="text-5xl font-semibold">Пейте свежую или делайте смузи</div>
        <div class="text-xl">
          Скачайте книгу рецептов с живой хлореллой Биобуст.
        </div>
      </div>
      <img
        src="https://sec-pay.ru/wp-content/uploads/2024/11/image_45889.webp"
        alt="drink"
      />

      <div
        class="lg:absolute w-full h-full left-0 top-0 flex items-center justify-center lg:pl-16"
      >
        <a href="https://t.me/Bioboost_bot">
          <img
            src="https://sec-pay.ru/wp-content/uploads/2024/11/svg_1702649488906.png"
            alt="book"
            width={192}
          />
        </a>
      </div>
    </div>

    <!-- 2 cards -->
    <div class="bg-neutral-200 p-9 space-y-9">
      <div class="container p-9 bg-white rounded-xl shadow-xl lg:flex">
        <div class="grow lg:grid gap-7 grid-cols-2 p-7">
          <div class="text-4xl font-semibold">Укрепляет иммунитет!</div>
          <img
            src="https://sec-pay.ru/wp-content/uploads/2024/11/Remove-bgai_17244317-1-e1731256082444.webp"
            alt="bacteria2"
            class="mx-auto"
          />
          <div
            class="flex flex-col justify-between bg-primary-500 rounded-xl p-5 text-white"
          >
            <img
              src="https://sec-pay.ru/wp-content/uploads/2024/11/image_164_min.png"
              alt="people"
              width={36}
            />
            <div class="text-lg">
              + Профилактика: простуды, ОРВИ, гриппа, анемии
            </div>
          </div>
          <div class="space-y-1 p-5 text-lg">
            <div class="font-semibold">Анти-</div>
            <ul class="list-disc">
              <li>вирусный</li>
              <li>воспалительный</li>
            </ul>
            <div class="font-semibold">Регеративный</div>
            <div>эффекты</div>
          </div>
          <div class="col-span-2 text-xs">
            В ядре хлореллы присутствует уникальная группа веществ (CGF),
            признанных модификатором иммунного ответа. Хлорелла увеличивает
            уровень интерферона за счет стимуляции макрофагов и Т-клеток,
            повышая способность иммунной системы противостоять чужеродным белкам
            и патогенам.
          </div>
        </div>
        <img
          src="https://sec-pay.ru/wp-content/uploads/2024/11/Group_2087326147.webp"
          alt="family"
        />
      </div>
      <div
        class="container p-9 bg-white rounded-xl shadow-xl lg:grid grid-cols-4 gap-7"
      >
        <div class="text-3xl font-semibold p-5 col-span-2">
          <div>Повышает выносливость</div>
          <img
            src="https://sec-pay.ru/wp-content/uploads/2024/11/Group_2087326149-e1731257392547.webp"
            alt="woman"
          />
        </div>
        <div
          class="flex flex-col justify-between bg-primary-500 rounded-xl p-5 text-white"
        >
          <img
            src="https://sec-pay.ru/wp-content/uploads/2024/11/image_178_min.png"
            alt="strong"
            width={48}
          />

          <div>
            Заряд аминокислот восстанавливает суставы, мышцы. Увеличивает
            кислородную емкость крови.
          </div>
        </div>
        <div>
          <img
            src="https://sec-pay.ru/wp-content/uploads/2024/11/Remove-bgai_17244325.webp"
            alt="bacteria3"
          />

          <div class="text-xl">Клетка хлореллы содержит 60% белка</div>
        </div>

        <div class="col-span-4 text-xs">
          Ускоряет метаболизм. ПовышPает уровень кислорода в тканях, быстро
          выводит мочевую и молочную кислоты. Стабилизирует сердечный ритм при
          пиковых нагрузках. Повышает аэробную выносливость.
        </div>
      </div>
    </div>

    <!-- parallax block -->
    <div
      style="background-image: url('https://sec-pay.ru/wp-content/uploads/2024/11/Mask_group_3-e1731261441998.webp'); background-size: cover; background-repeat: no-repeat; background-position: right; "
      class="text-white"
    >
      <div class="container px-9 py-16 lg:grid grid-cols-2">
        <div class="space-y-7">
          <div class="text-3xl lg:text-5xl font-semibold">
            Почему в 25 раз эффективннее других форм хлореллы?
          </div>
          <div class="text-3xl">
            Единственный такой в России, проверено лабораторно:
          </div>
        </div>
        <div class="relative">
          <img
            src="https://sec-pay.ru/wp-content/uploads/2024/11/unnamed-file.webp"
            alt="box1"
          />
          <div class="absolute top-[40%] left-[0%] clorella1">
            <img
              src="https://sec-pay.ru/wp-content/uploads/2024/10/clorella1-1.png"
              alt="clorella"
              width={96}
              height={96}
            />
          </div>
          <div class="absolute top-[25%] left-[25%] clorella1">
            <img
              src="https://sec-pay.ru/wp-content/uploads/2024/10/clorella1-1.png"
              alt="clorella"
              width={72}
              height={72}
            />
          </div>
          <div class="absolute top-[30%] left-[35%] clorella1">
            <img
              src="https://sec-pay.ru/wp-content/uploads/2024/10/clorella1-1.png"
              alt="clorella"
              width={96}
              height={96}
            />
          </div>
          <div class="absolute top-[75%] left-[20%] clorella1">
            <img
              src="https://sec-pay.ru/wp-content/uploads/2024/10/clorella1-1.png"
              alt="clorella"
              width={54}
              height={54}
            />
          </div>
          <div class="absolute top-[90%] left-[40%] clorella1">
            <img
              src="https://sec-pay.ru/wp-content/uploads/2024/10/clorella1-1.png"
              alt="clorella"
              width={54}
              height={54}
            />
          </div>
          <div class="absolute top-[100%] left-[15%] clorella1">
            <img
              src="https://sec-pay.ru/wp-content/uploads/2024/10/clorella1-1.png"
              alt="clorella"
              width={54}
              height={54}
            />
          </div>
          <div class="absolute top-[130%] left-[15%] clorella1">
            <img
              src="https://sec-pay.ru/wp-content/uploads/2024/10/clorella1-1.png"
              alt="clorella"
              width={54}
              height={54}
            />
          </div>
          <div class="absolute top-[115%] right-[40%] clorella1">
            <img
              src="https://sec-pay.ru/wp-content/uploads/2024/10/clorella1-1.png"
              alt="clorella"
              width={96}
              height={96}
            />
          </div>
          <div class="absolute top-[95%] right-[35%] clorella1">
            <img
              src="https://sec-pay.ru/wp-content/uploads/2024/10/clorella1-1.png"
              alt="clorella"
              width={72}
              height={72}
            />
          </div>
        </div>
      </div>
    </div>

    <!-- numbers & molecula -->
    <div class="container px-9 py-16 space-y-16">
      <div class="lg:flex gap-20 items-center">
        <div class="text-[14rem] font-semibold text-primary-500">1</div>
        <div class="space-y-5">
          <div class="text-4xl lg:text-5xl font-semibold">
            Кремниевая биосреда
          </div>
          <div class="text-2xl">
            Ноу-хау Биобуста, которое дает лучшее усвоение витаминов и
            микронутриентов
          </div>
          <div class="flex gap-5 font-bold">
            <div>+ Antiage</div>
            <div>+ Detox</div>
          </div>
        </div>
        <img
          src="https://sec-pay.ru/wp-content/uploads/2024/11/Group_2087326162.webp"
          alt="si"
        />
      </div>

      <div class="lg:flex gap-9 items-center">
        <div class="text-[14rem] font-semibold text-primary-500">2</div>
        <div class="space-y-5">
          <div class="text-4xl lg:text-5xl font-semibold">
            Только в Биобуст высокая концентрация: 100 млн клеток на 1 мл
          </div>
          <div class="text-2xl">обеспечивает максимум пользы</div>
        </div>
        <img
          src="https://sec-pay.ru/wp-content/uploads/2024/11/Mask_group_2.webp"
          alt="bacterios"
        />
      </div>

      <div class="lg:flex gap-9 items-center justify-between">
        <div class="text-[14rem] font-semibold text-primary-500">3</div>
        <div class="space-y-5 grow">
          <div class="text-2xl">В Биобуст, хлорелла —</div>
          <div class="text-4xl lg:text-5xl font-semibold">Живая</div>
          <div class="text-3xl font-semibold">сохранившая 100% свойств</div>
        </div>
        <div
          class="flex justify-end items-center p-5 border-2 border-red-500 rounded-xl"
        >
          <div class="text-xl font-semibold w-56">
            Термо сушка и окисление снижают пользу до 10%
          </div>
          <img
            src="https://sec-pay.ru/wp-content/uploads/2024/11/Group_2087326161_2-e1731260023522.webp"
            alt="nononono"
          />
        </div>
      </div>

      <div class="lg:flex gap-9 items-center">
        <div class="text-[14rem] font-semibold text-primary-500">4</div>
        <div class="space-y-5">
          <div class="text-2xl">Гарантия свежести —</div>
          <div class="text-4xl lg:text-5xl font-semibold">Премиум упаковка</div>

          <div class="space-y-3">
            <div class="flex gap-5 items-center">
              <img
                src="https://sec-pay.ru/wp-content/uploads/2024/11/pepicons-pencil_chec.png"
                alt="Check"
                width={48}
              />
              <div class="text-lg">
                <div class="font-semibold">Вакуум</div>
                <div>Защита от воздуха и патогенов</div>
              </div>
            </div>
            <div class="flex gap-5 items-center">
              <img
                src="https://sec-pay.ru/wp-content/uploads/2024/11/pepicons-pencil_chec.png"
                alt="Check"
                width={48}
              />
              <div class="text-lg">
                <div class="font-semibold">Защита от света</div>
                <div>за счёт плотной коробки</div>
              </div>
            </div>
            <div class="flex gap-5 items-center">
              <img
                src="https://sec-pay.ru/wp-content/uploads/2024/11/pepicons-pencil_chec.png"
                alt="Check"
                width={48}
              />
              <div class="text-lg">
                <div class="font-semibold">Краник с клапаном</div>
                <div>От попадания воздуха и бактерий</div>
              </div>
            </div>
          </div>
        </div>
        <img
          src="https://sec-pay.ru/wp-content/uploads/2024/11/Group_2087326143.webp"
          alt="box2"
        />
      </div>

      <div class="flex items-center justify-center gap-9">
        <img
          src="https://sec-pay.ru/wp-content/uploads/2024/11/2.webp"
          alt="bottle"
        />
        <div class="space-y-3">
          <div class="text-3xl font-semibold">
            Остерегайтесь форм выпуска в бутылках
          </div>
          <div class="text-xl">Свет и воздух губят пользу хлореллы</div>
        </div>
      </div>

      <div class="lg:grid grid-cols-2 gap-12 items-center">
        <img
          src="https://sec-pay.ru/wp-content/uploads/2024/11/m.png"
          alt="moleculas"
        />

        <div>
          <div class="font-semibold text-[10rem]">650</div>
          <div class="text-3xl">
            природных микронутриентов в легкоусвояемой форме
          </div>
        </div>
      </div>
    </div>

    <!-- rating and order -->
    <div class="px-9 py-16 space-y-9 bg-primary-500">
      <div class="container lg:grid grid-cols-4 gap-9 text-white">
        <div class="space-y-3">
          <div class="font-bold text-8xl">x25</div>
          <div>В 25 раз полезнее бадов сухих в таблетках</div>
        </div>
        <div class="space-y-3">
          <div class="font-bold text-8xl">2000</div>
          <div>Исследований и доказательств</div>
        </div>
        <div class="space-y-3">
          <div class="font-bold text-8xl">94%</div>
          <div>Довольных клиентов</div>
        </div>
        <div class="space-y-3">
          <div class="font-bold text-8xl">4.9</div>
          <img
            src="https://sec-pay.ru/wp-content/uploads/2024/11/svg3.png"
            alt="rating"
          />
        </div>
      </div>

      <div
        class="p-9 rounded-xl bg-white mx-auto max-w-5xl lg:flex justify-between items-center"
      >
        <div class="space-y-5 p-9">
          <div class="font-semibold text-3xl">Закажите сейчас!</div>
          <div class="text-xl">
            Биобуст из живой хлореллы на кремнии<br />3 л/30 дней
          </div>

          <div>
            <div class="line-through">3000 ₽</div>
            <div class="text-3xl font-semibold">2970 ₽</div>
          </div>

          <div class="text-xl">
            Отгрузка свежайшего бионапитка напрямую с производства.
          </div>

          <br />

          <div>
            <a
              href="/order"
              class="text-3xl bg-primary-500 px-6 py-3 rounded-xl text-white"
              >Заказать</a
            >
          </div>
        </div>
        <img
          src="https://sec-pay.ru/wp-content/uploads/2024/11/png23.webp"
          alt="box3"
          width={464}
        />
      </div>
    </div>

    <!-- Q&A -->
    <div class="container px-9 py-16 space-y-9">
      <div class="text-5xl font-semibold text-center">Вопросы и ответы</div>

      <div class="divide-y divide-solid divide-neutral-300 px-28">
        <div>
          <div x-data="{ expanded: false }" class="py-5">
            <div
              @click="expanded = ! expanded"
              class="flex items-center justify-between text-xl font-semibold cursor-pointer select-none"
            >
              <div>Какую хлореллу выбрать?</div>
              <div class="text-5xl font-thin">+</div>
            </div>

            <div x-show="expanded" x-collapse class="text-xl">
              Bioboo.st — наиболее полезная форма хлореллы для человека, она 25
              раз эффективнее других, потому что:
              <ul class="list-disc">
                <li>
                  Живая, не сушёная. В вакуумной светозащитной премиум-упаковке
                  сохранила все свойства.
                </li>
                <li>Необходимой концентрации — 100 млн. клеток на мл.</li>
                <li>На кремниевой биосреде, усиливающей эффект.</li>
              </ul>
            </div>
          </div>
        </div>
        <div>
          <div x-data="{ expanded: false }" class="py-5">
            <div
              @click="expanded = ! expanded"
              class="flex items-center justify-between text-xl font-semibold cursor-pointer select-none"
            >
              <div>Как пить хлореллу правильно?</div>
              <div class="text-5xl font-thin">+</div>
            </div>

            <div x-show="expanded" x-collapse class="text-xl">
              Лучше натощак, тёплой.
              <ul class="list-disc">
                <li>
                  Для восстановительно-оздоровительного эффекта — по 1-2 стакана
                  в день
                </li>
                <li>
                  Для профилактики и поддержки организма — минипорциями от 100
                  мл в день
                </li>
              </ul>
              Можно пить неограниченное время, без перерывов, годами. Можно разбавлять
              теплой водой (не горячей) или немного подогреть (не в микроволновке).
            </div>
          </div>
        </div>
        <div>
          <div x-data="{ expanded: false }" class="py-5">
            <div
              @click="expanded = ! expanded"
              class="flex items-center justify-between text-xl font-semibold cursor-pointer select-none"
            >
              <div>Можно смешивать?</div>
              <div class="text-5xl font-thin">+</div>
            </div>

            <div x-show="expanded" x-collapse class="text-xl">
              Да, с БАДами и iHerb, другими витаминами.<br />
              Можно добавлять лимон, куркуму и делать смузи, соки, десерты и супы
              — смотри книгу рецептов.
            </div>
          </div>
        </div>
        <div>
          <div x-data="{ expanded: false }" class="py-5">
            <div
              @click="expanded = ! expanded"
              class="flex items-center justify-between text-xl font-semibold cursor-pointer select-none"
            >
              <div>Можно беременным и кормящим?</div>
              <div class="text-5xl font-thin">+</div>
            </div>

            <div x-show="expanded" x-collapse class="text-xl">
              Да, рекомендуется. Хлорелла насыщает организм полезными
              веществами. Подробнее при беременности.
            </div>
          </div>
        </div>
        <div>
          <div x-data="{ expanded: false }" class="py-5">
            <div
              @click="expanded = ! expanded"
              class="flex items-center justify-between text-xl font-semibold cursor-pointer select-none"
            >
              <div>Состав Bioboost</div>
              <div class="text-5xl font-thin">+</div>
            </div>

            <div x-show="expanded" x-collapse class="text-xl">
              Сырая биомасса микроводоросли хлорелла, кремниевая биосреда.
              Концентрация: 100 млн. клеток на 1 мл. Хлорелла содержит 650
              микронутриентов, включая белки и витамины.
            </div>
          </div>
        </div>
        <div>
          <div x-data="{ expanded: false }" class="py-5">
            <div
              @click="expanded = ! expanded"
              class="flex items-center justify-between text-xl font-semibold cursor-pointer select-none"
            >
              <div>Какой вкус у хлореллы?</div>
              <div class="text-5xl font-thin">+</div>
            </div>

            <div x-show="expanded" x-collapse class="text-xl">
              У живой свежей хлореллы естественный природный слабовыраженный
              вкус. Вкус хлореллы Биобуст мягче за счет кремния. Еще любимый
              вкус можно придать делая блюда по книге рецептов из хлореллы.
            </div>
          </div>
        </div>
        <div>
          <div x-data="{ expanded: false }" class="py-5">
            <div
              @click="expanded = ! expanded"
              class="flex items-center justify-between text-xl font-semibold cursor-pointer select-none"
            >
              <div>Срок годности</div>
              <div class="text-5xl font-thin">+</div>
            </div>

            <div x-show="expanded" x-collapse class="text-xl">
              6 месяцев — t 2-12 °C<br />
              3 месяца — 12-20 °С<br />
              Хранить в холодильнике. Можно брать сразу с запасом 2-3 коробки (выгоднее,
              так как не платите 2 раза за доставку).
            </div>
          </div>
        </div>
        <div>
          <div x-data="{ expanded: false }" class="py-5">
            <div
              @click="expanded = ! expanded"
              class="flex items-center justify-between text-xl font-semibold cursor-pointer select-none"
            >
              <div>Как понять, что хлорелла свежая?</div>
              <div class="text-5xl font-thin">+</div>
            </div>

            <div x-show="expanded" x-collapse class="text-xl">
              Свежая хлорелла имеет травянисто-зелёный цвет и маловыраженный
              запах. При заказе с сайта или телеграм-бота напиток будет
              свежайшим. Желательно забирать с точки доставки в тот же день,
              чтобы хранить его в холодильнике. Если напиток полежит в жару
              неделю, то его полезные свойства сохранятся, однако цвет станет
              темнее, а запах более природным. Чем меньше лежит на складе
              доставки, тем будет свежее. Связь с отделом качества тут.
            </div>
          </div>
        </div>
        <div>
          <div x-data="{ expanded: false }" class="py-5">
            <div
              @click="expanded = ! expanded"
              class="flex items-center justify-between text-xl font-semibold cursor-pointer select-none"
            >
              <div>Это безопасно?</div>
              <div class="text-5xl font-thin">+</div>
            </div>

            <div x-show="expanded" x-collapse class="text-xl">
              Напиток абсолютно безопасен, натурален и рекомендован даже
              беременным, детям и пожилым.
            </div>
          </div>
        </div>
        <div>
          <div x-data="{ expanded: false }" class="py-5">
            <div
              @click="expanded = ! expanded"
              class="flex items-center justify-between text-xl font-semibold cursor-pointer select-none"
            >
              <div>Чем доказана польза?</div>
              <div class="text-5xl font-thin">+</div>
            </div>

            <div x-show="expanded" x-collapse class="text-xl">
              Более 2000 научных исследований. Более подробную информацию вы
              сможете изучить здесь.
            </div>
          </div>
        </div>
        <div>
          <div x-data="{ expanded: false }" class="py-5">
            <div
              @click="expanded = ! expanded"
              class="flex items-center justify-between text-xl font-semibold cursor-pointer select-none"
            >
              <div>А если хлореллу в таблетках?</div>
              <div class="text-5xl font-thin">+</div>
            </div>

            <div x-show="expanded" x-collapse class="text-xl">
              В таблетках и порошках потеряно до 90% полезных свойств в отличие
              от Биобуст.
            </div>
          </div>
        </div>
        <div>
          <div x-data="{ expanded: false }" class="py-5">
            <div
              @click="expanded = ! expanded"
              class="flex items-center justify-between text-xl font-semibold cursor-pointer select-none"
            >
              <div>Противопоказания</div>
              <div class="text-5xl font-thin">+</div>
            </div>

            <div x-show="expanded" x-collapse class="text-xl">
              <ul class="list-disc">
                <li>
                  диагностированный гемохроматоз (в BioBoo.st много железа);
                </li>
                <li>прием препарата "Варфарин" (снижает его эффективность);</li>
                <li>
                  повышенная свертываемость крови (BioBoo.st богат калием);
                </li>
              </ul>
              С осторожностью (лучше после консультации с врачом) - при аутоиммунных
              заболеваниях (BioBoo.st - иммуномодулятор).
            </div>
          </div>
        </div>
        <div>
          <div x-data="{ expanded: false }" class="py-5">
            <div
              @click="expanded = ! expanded"
              class="flex items-center justify-between text-xl font-semibold cursor-pointer select-none"
            >
              <div>Сертификаты</div>
              <div class="text-5xl font-thin">+</div>
            </div>

            <div x-show="expanded" x-collapse class="text-xl">
              <ul class="list-disc">
                <li>
                  декларация о соответствии Европейского Экономического Союза
                </li>
                <li>протокол испытаний сторонней лабораторией</li>
              </ul>
            </div>
          </div>
        </div>
        <div>
          <div x-data="{ expanded: false }" class="py-5">
            <div
              @click="expanded = ! expanded"
              class="flex items-center justify-between text-xl font-semibold cursor-pointer select-none"
            >
              <div>Можно ли детям?</div>
              <div class="text-5xl font-thin">+</div>
            </div>

            <div x-show="expanded" x-collapse class="text-xl">
              Да. Начиная с 2х лет.<br /><br />

              С 2х до 7ми лет - до 100 мл. в сутки.<br />
              С 7ми до 15ти - до 300 мл. в сутки.<br />
              Начиная с 15ти - до 500 мл. в сутки.<br /><br />

              Начинать лучше несколько дней с минипорций по 30-50 мл. и
              проверять отсутствие аллергических реакций.<br />
            </div>
          </div>
        </div>
        <div>
          <div x-data="{ expanded: false }" class="py-5">
            <div
              @click="expanded = ! expanded"
              class="flex items-center justify-between text-xl font-semibold cursor-pointer select-none"
            >
              <div>Как правильно открыть коробку?</div>
              <div class="text-5xl font-thin">+</div>
            </div>

            <div x-show="expanded" x-collapse class="text-xl">
              1. Нажмите пальцем на кругляшок "открывать здесь";<br />
              2. оторвите по перфорации прямоугольное окошко;<br />
              3. вытащите краник изнутри коробки;<br />
              4. оторвите у краника защитный блистер;<br />
              5. снимите с краника защитный колпачок;<br />
              6. налейте напиток, нажимая на "ушки" краника.<br />
            </div>
          </div>
        </div>
        <div>
          <div x-data="{ expanded: false }" class="py-5">
            <div
              @click="expanded = ! expanded"
              class="flex items-center justify-between text-xl font-semibold cursor-pointer select-none"
            >
              <div>Где лучше заказывать питьевую хлореллу?</div>
              <div class="text-5xl font-thin">+</div>
            </div>

            <div x-show="expanded" x-collapse class="text-xl">
              На официальном сайте Bioboo.st или в удобном телеграм-боте.
            </div>
          </div>
        </div>

        <div class="flex gap-5 items-center justify-center font-semibold pt-9">
          <a
            href="https://bioboo.st/#order:%D0%91%D0%B8%D0%BE%D0%91%D1%83%D1%81%D1%82%20%D0%B8%D0%B7%20%D0%B6%D0%B8%D0%B2%D0%BE%D0%B9%20%D1%85%D0%BB%D0%BE%D1%80%D0%B5%D0%BB%D0%BB%D1%8B%20%D0%BD%D0%B0%20%D0%BA%D1%80%D0%B5%D0%BC%D0%BD%D0%B8%D0%B8=2970"
            class="px-6 py-3 rounded-xl bg-primary-500 text-white"
          >
            Заказать
          </a>
          <a
            class="px-6 py-3 rounded-xl text-primary-500 border border-primary-500"
            href="https://t.me/Bioboost_bot">Промокод при регистрации в ТГ</a
          >
        </div>
      </div>
    </div>

    <div>footer</div>
  </body>
</html>
