---

---

<html lang="ru">
  <head>
    <title>bioboo.st</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <style>
      @import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

      .container {
        @apply max-w-6xl mx-auto;
      }
    </style>
  </head>
  <body>
    <!-- HERO -->
    <div class="container grid lg:grid-cols-2 gap-5 px-7 py-16">
      <div class="grid grid-cols-2 gap-9 items-end">
        <div class="text-5xl font-semibold col-span-2 lg:col-span-1">
          Биобуст<br />
          из живой<br />
          <span class="text-primary-500">хлореллы</span>
        </div>

        <div class="text-xl col-span-2 lg:col-span-1">
          Одноклеточная микроводоросль.<br />
          <span class="text-primary-500">На кремнии.</span>
        </div>

        <div class="text-2xl col-span-2">
          Натуральное укрепление организма: с внутренних органов до кончиков
          волос
        </div>

        <div class="text-3xl font-semibold">№1<br />в России</div>
        <div>
          <img
            src="https://sec-pay.ru/wp-content/uploads/2024/10/noroot.webp"
            alt="Re.Awards"
            width={172}
          />
        </div>

        <div>
          <img
            src="https://sec-pay.ru/wp-content/uploads/2024/10/24.webp"
            alt="Healthy food"
            width={172}
          />
        </div>

        <div class="text-xl">
          Концентрация<br />
          <span>{">"}100 млн</span><br />
          живых клеток<br />
          на 1 мл
        </div>

        <div class="col-span-2 text-2xl font-semibold">
          Прилив сил и здоровья, без таблеток, уже в первые 7 дней
        </div>
      </div>
      <img
        src="https://sec-pay.ru/wp-content/uploads/2024/10/Group-1-1.png"
        alt="Bioboost"
      />
    </div>

    <!-- 2 cards -->
    <div class="bg-neutral-200">
      <div class="p-9 space-y-9">
        <div class="text-center text-5xl font-semibold">
          Польза хлореллы в БиоБуст:
        </div>

        <div
          class="container p-9 items-center bg-white rounded-xl shadow-xl lg:flex gap-7 space-y-7"
        >
          <div class="grow lg:grid gap-7 grid-cols-2">
            <div class="space-y-3 p-5">
              <div class="text-3xl font-semibold">Коррекция веса</div>
              <div class="text-lg">
                + помогает бережно сменить вредные пищевые привычки.
              </div>
            </div>
            <div class="space-y-3 p-5">
              <div class="text-3xl font-semibold">Красота</div>
              <div class="text-lg">
                Улучшает состояние кожи, волос и ногтей, уменьшает неприятные
                запахи.
              </div>
            </div>
            <div class="space-y-3 bg-primary-500 rounded-xl p-5 text-white">
              <div class="text-3xl font-semibold">Энергия</div>
              <div class="text-lg">
                Помогает справиться с усталостью. Придает бодрость, улучшает
                настроение, налаживает сон.
              </div>
            </div>
            <div class="space-y-3 p-5">
              <div class="text-3xl font-semibold">Antiage</div>
              <div class="text-lg">
                Замедляет старение, снимает отеки, разглаживает морщины и
                целлюлит, стабилизирует давление.
              </div>
            </div>

            <div class="p-5 text-xs col-span-2">
              + помогает бережно сменить вредные пищевые привычки. Обладает
              антиоксидантными свойствами. CGF (фактор роста хлореллы) отвечает
              за способность омолаживать организм, восстанавливая поврежденные
              части ДНК и стимулируя рост новых тканей и клеток. Высокое
              содержание нуклеиновых кислот значительно замедляет процессы
              старения. Помогает нормализовать гормональный фон.
            </div>
          </div>
          <img
            src="https://sec-pay.ru/wp-content/uploads/2024/10/Mask_group.webp"
            alt="mask"
          />
        </div>

        <div
          class="container p-9 items-center bg-white rounded-xl shadow-xl lg:flex gap-7 space-y-7"
        >
          <img
            src="https://sec-pay.ru/wp-content/uploads/2024/11/Mask_group_4.webp"
            alt="smoothie"
          />

          <div class="grow lg:grid grid-cols-2 gap-7 space-y-7">
            <div class="font-semibold text-4xl">Забота об органах</div>
            <img
              src="https://sec-pay.ru/wp-content/uploads/2024/11/Remove-bgai_17244308-e1731250786285.webp"
              alt="Bacteria1"
              width={96}
              class="mx-auto"
            />
            <div
              class="p-5 bg-primary-500 rounded-xl text-white flex flex-col justify-between"
            >
              <img
                src="https://sec-pay.ru/wp-content/uploads/2024/11/image_168_min.webp"
                alt="stomach"
                width={48}
              />
              <div class="text-lg">
                Укрепляет сердечно-сосудистую систему, нормализует работу ЖКТ,
                стабилизирует стул.
              </div>
            </div>
            <div class="p-5 space-y-5">
              <div class="font-semibold text-4xl">Детокс</div>
              <div class="text-lg">
                Выведение тяжелых металлов и подавление гнилостных бактерий..
                Очищение крови. Понижение сахара и холестерина.
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- <div>book</div>
    <div>2 cards</div>
    <div>parallax block</div>
    <div>numbers & molecula</div>
    <div>rating and order</div>
    <div>faq</div>
    <div>footer</div> -->
  </body>
</html>
